<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About Me</h4>
    <p>Constantly learning is my passion. No matter what the subject, I love to learn and expand my knowledge as best I can. Changing careers is not easy but following what I love makes it all worth the time and effot.</p>
  </div>

  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/prh90" target="_blank"><%= fa_icon "github" %></a></li>
      <li><a href="https://www.instagram.com/prhv_510/" target="_blank"><%= fa_icon "instagram" %></a></li>
      <li><a href="https://twitter.com/RomanHernandez1" target="_blank"><%= fa_icon "twitter" %></a></li>
      <li><a href="https://www.facebook.com/phern90" target="_blank"><%= fa_icon "facebook" %></a></li>
      <li><a href="https://www.linkedin.com/in/prhernandez/" target="_blank"><%= fa_icon "linkedin" %></a></li>
    </ol>
  </div>
</div><!-- /.blog-sidebar -->
